.auth-box {
  width: 500px;
  height: 550px;
  padding: 30px;
  align-content: center;
}

.auth-button {
  width: 100%;
  margin-top: 20px;
}

.auth-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.auth-subtitle {
  font-size: 14px;
  margin-bottom: 20px;
}

.background-box {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/images/background-auth.jpg");
  background-size: cover;
  background-position: center;
}

input {
  background-clip: text !important;
  -webkit-background-clip: text !important;
}
